<h1>Change Email</h1>

<div id="form-change">
  <div class="form-control">
    <label><b>New email</b></label>
    <input type="text" name="email" class="change-email"/>
  </div>
  <div class="form-control">
    <label><b>Current Password</b></label>
    <input type="password" name="password" class="change-password"/>
  </div>
  <button>Change</button>
</div>
