<li class="profile-data" %>">
  <div class="profile-data-username">
    <div>
      <b>Username</b>: THE_USER
    </div>
    <div class="change">
      Change username
    </div>
  </div>
  <div class="profile-data-email">
    <div>
      <b>Email</b>: email@test.com
    </div>
    <div class="change">
      Change email
    </div>
  </div>
  <div class="post-item-button">
    <div class="post-item-button-content">
      See my posts
    </div>
  </div>
</li>
