<h1>Change email</h1>

<div id="form-change">
  <div class="form-control">
    <label>New email</label>
    <input type="text" name="email" class="change-email"/>
  </div>
  <div class="form-control">
    <label>Current Password</label>
    <input type="password" name="password" class="change-password"/>
  </div>
  <button>Change</button>
</div>
