<h1>Your Profile</h1>

<li class="profile-data" id="profile" %>">
  <div class="profile-data-username">
    <div>
      <b>Username</b>: <%= user.name %>
    </div>
    <div class="change">
      Change username
    </div>
  </div>
  <div class="profile-data-email">
    <div>
      <b>Email</b>: <%= user.email %>
    </div>
    <div class="change">
      Change email
    </div>
  </div>

  <button class="password">Change password</button>
  <button class="my-posts">See my posts</button>
</li>
