<h1>Write a new post</h1>

<div id="form-register">
  <div class="form-control">
    <label>Title</label>
    <input type="text" name="title" value="<%= formData.title %>" class="write-title"/>
  </div>
  <div class="form-control">
    <label>Email</label>
    <textarea name="summary" value="<%= formData.summary %>" class="write-summary"/>
  </div>
  <div class="form-control">
    <label>Password</label>
    <input type="password" name="password" value="<%= formData.password %>" class="reg-password"/>
  </div>

  <button>Submit</button>
</div>
