<h1>Change username</h1>

<div id="form-change">
  <div class="form-control">
    <label>New username</label>
    <input type="text" name="username" class="change-username"/>
  </div>
  <div class="form-control">
    <label>Current Password</label>
    <input type="password" name="password" class="change-password"/>
  </div>
  <button>Change</button>
</div>
