<h1>Login</h1>

<div id="form-login">
  <div class="form-control">
    <label>Email</label>
    <input type="email" name="email" class="log-email"/>
  </div>
  <div class="form-control">
    <label>Password</label>
    <input type="password" name="password" class="log-password"/>
  </div>
  <button>Login</button>
</div>
