<h1>Write a new post</h1>

<div id="form-write">
  <div class="form-control">
    <label>Title</label>
    <textarea name="title" class="write-title"/><%= postData.title %></textarea>
  </div>
  <div class="form-control">
    <label>Summary</label>
    <textarea name="summary" class="write-summary"/><%= postData.summary %></textarea>
  </div>
  <div class="form-control">
    <label>Content</label>
    <textarea name="body" class="write-body"/><%= postData.body %></textarea>
  </div>

  <button>Post</button>
</div>
