<div id="nav-logo">
  Blog
</div>
<ul id="nav-links">
  <li id="nav-read">Read</li>
  <% if (!locals.isAuth) { %>
    <li id="nav-register">Register</li>
      <li id="nav-login">Login</li>
  <% } %>
  <% if (locals.isAuth) { %>
    <li id="nav-write">Write</li>
    <li id="nav-profile">Profile</li>
    <li id="nav-logout">Logout</li>
  <% } %>
</ul>
