<ul class="page-selector">
  <% for (page of pages) { %>
    <% if (page == pageSelected) { %>
      <li class="page-selected"><%= page %></li>
    <% } else { %>
      <li><%= page %></li>
    <% } %>
  <% } %>
</ul>
