<li class="post-item">
  <div class="post-item-title">
    <%= pagePosts[postIndex].title %>
  </div>
  <div class="post-item-summary">
    <%= pagePosts[postIndex].summary %>
  </div>
  <div class="post-item-author">
    <%= pagePosts[postIndex].authorName %>
  </div>
  <div class="post-item-date">
    <%= pagePosts[postIndex].date.toLocaleDateString('en-US', {
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      }) %>
  </div>
  <div class="post-item-button">
    <div class="post-item-button-content">
      Read
    </div>
  </div>
</li>
