<!DOCTYPE html>

<html>
  <head>
    <title>A Blog</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <script src="/scripts/nav.js" defer></script>
    <script src="/scripts/home.js" defer></script>
  </head>
  <body>

    <header>
      <%- include('partials/nav.ejs') %>
    </header>

    <main>
      <%- include('partials/page-selector.ejs', { pages: [1, 2, 3], pageSelected: currPage, showLast: true, lastPage: totalPages }) %>
      <%- include('partials/main-home.ejs', { pagePosts: pagePosts, currPage: currPage, totalPages: totalPages}) %>
      <%- include('partials/page-selector.ejs', { pages: [1, 2, 3], pageSelected: 1, showLast: true, lastPage: 6 }) %>
    </main>

  </body>
</html>
