<!DOCTYPE html>

<html>
  <head>
    <title>A Blog</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <script src="/scripts/nav.js" defer></script>
  </head>
  <body>

    <header>
      <%- include('partials/nav.ejs') %>
    </header>

    <main>
      <%- include('partials/main-home.ejs') %>
    </main>

  </body>
</html>
