body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 15rem;
}

#nav-logo {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 1.33rem;
  padding: 1rem 1.33rem;
}

#nav-links {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

#nav-links li {
  padding: 1rem 0.5rem;
}

#nav-links li:hover {
  padding: 1rem 0.5rem;
  color: white;
  background-color: black;
}


#home-post-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  gap: 1rem;
}

main {
  margin: 0 auto;
  width: 35rem;
}

.page-selector {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  padding: 0;
}


.page-selector li {
  list-style: none;
  margin: 0;
  padding: 0.25rem 0.41rem;
}

.page-selector li:hover {
  background-color: gray;
}

.page-selected {
  color: white;
  background-color: black;
  pointer-events: none;
}

.post-item, .post-read, .profile-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 2rem;
  border-style: solid;
  border-color: black;
}

.post-item-title, .post-read-title {
  font-size: 1.66rem;
}

.post-item-summary, .post-read-summary, .profile-data-username, .profile-data-email {
  font-size: 1rem;
}


.post-item-author, .post-item-date, .post-read-author, .post-read-date {
  place-self: end;
}

.post-item-button {
  display: flex;
}

.post-item-button-content {
  padding: 0.66rem 1.33rem;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.profile-data-username .change, .profile-data-email .change {
  padding: 0.66rem 1.33rem;
  margin: 0;
  width: 9rem;

  text-align: center;

  background-color: gray;
  color: white;
  margin-left: auto;
  margin-right: 0rem;
}

.post-read hr {
  width: 100%;
}

.profile-data-username, .profile-data-email {
  display: flex;
  justify-items: space-between;
  align-items: center;
}


#form-register, #form-login, #form-write, #form-change {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  border-style: solid;
  padding: 1rem 2rem;
  border-style: solid;
  border-color: black;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.66rem;
}

.form-control label {
  font-size: 1.1rem;
}

.form-control input {
  font-size: 1.1rem;
}

.form-control textarea {
  font-size: 1.1rem;
}

#form-register button, #form-login button, #form-write button, #form-change button, #profile button  {
  background-color: black;
  color: white;
  border-style: none;
  padding: 0.66rem 0;
  margin-top: 1.33rem;
  font-size: 1.1rem;
}

#profile .password {
  background-color: gray;
}

textarea {
  resize: vertical;
}
